<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FormatSalvare" value="txt"/>
		<add key="NumeFisierCarti" value="Biblioteca"/>
		<add key="NumeFisierCititori" value="Cititori"/>
		<add key="NumeFisierImprumuturi" value="Imprumuturi"/>
		<add key="LimitaMaximaImprumuturi" value="3"/>
	</appSettings>
</configuration>